{% extends "base.html" %}
{% block title %}Home{% endblock %}

{%block extranav %}

<ul class="nav">
  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Recipe Moneky
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>Testing....</li>
    </ul>
  </li>
</ul>

{% endblock %}

{% block content %}

<h3>Welcome</h3>
<p>Recipe Monkey allows you to enter and manage recipes, ingredients and meal plans.</p>

<ul>
<li>View a list of <a href="/recipemonkeyapp/recipe">recipes</a><br/></li>
<li>View a list of <a href="/recipemonkeyapp/groceryitem">groceries</a><br/></li>
<li>View a list of <a href="/recipemonkeyapp/storage">storage buckets</a><br/></li>
<li>Generate <a href="/recipemonkeyapp/barcodes">barcodes</a><br/></li>

<li><a href="/recipemonkeyapp/planner/schedule/1/20120101/">Plan Meals</a><br/></li>
<li><a href="/search/">Search</a> the database</li>
<li>Access the <a href="/admin/recipemonkeyapp">administration panel</a></li>

</ul>
{% endblock %}