{% extends "base.html" %}

{% block title %}Groceries{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; Labels {% endblock %}

{% block extra_scripts %}
<style>
    .labels {
        width: 0mm;
        margin: 0mm 0mm;
        }

    .label{
        width: 34mm; 
        height: 20mm; 
        padding: 2mm 2mm 0;
        margin-right: 0mm; 
        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }

	img {
		vertical-align: top;     /* Add this */
		display: block;
		}
</style>
{% endblock %}
{% block content %}

<div id="labels">
	
{% for code in barcodes %}

	<div class="label"><img src="https://chart.googleapis.com/chart?chs=90x90&cht=qr&chl=Hello%20world"/></div>
	{% if forloop.counter == labels_per_page %}
	<div class="page-break"></div>
	{% endif %}

{% endfor %}


</div>
{% endblock %}


