{% extends "base.html" %}

{% block title %}Groceries{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; Labels {% endblock %}

{% block extra_scripts %}
<style>
    .labels {
        width: 0mm;
        margin: 0mm 0mm;
        }

    .label{
        width: 38mm; 
        height: 22mm; 
        padding: 0mm 0mm 0;
        margin-right: 5mm; 
        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
</style>
{% endblock %}
{% block content %}

<div id="labels">
	
{% for code in barcodes %}

	<div class="label"><img src="/recipemonkeyapp/barcode/{{code}}"/></div>
	{% if forloop.counter == labels_per_page %}
	<div class="page-break"></div>
	{% endif %}

{% endfor %}


</div>
{% endblock %}


