{% extends "base.html" %}

{% block title %}Barcodes{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; Labels {% endblock %}

{% block extra_scripts %}
<style>

	body {
		margin: 0mm 0mm;
		padding: 0mm 0mm;
		
	}

    .labels {
        width: 0mm;
        margin: 0mm 0mm;
        }

    .label{
        width: 32mm; 
        height: 18mm; 
        padding: 2mm 2mm 0;
        margin-right: 2mm; 
 		margin-bottom: 2mm; 
        float: left;

        text-align: center;
        overflow: hidden;
        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }

		.label img
		{
		    vertical-align: middle;
		    max-height: 20mm;
		    max-width: 34mm;
		}
</style>
{% endblock %}
{% block content %}

<div id="labels">
	
{% for code in barcodes %}

	<div class="label"><img src="https://mothership.getoutsideandlive.com/recipemonkeyapp/barcode/{{code}}"/></div>
	{% if forloop.counter == labels_per_page %}
	<div class="page-break"></div>
	{% endif %}

{% endfor %}


</div>
{% endblock %}


