{% extends "recipemonkey/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h3>Search</h3>
<br/>
<p>I feel like....</p>

<ul>
<li><a href="/search/?q=asian&models=recipemonkeyapp.recipe">Asian</a><br/></li>
<li><a href="/search/?q=healthy&models=recipemonkeyapp.recipe">something healthy</a><br/></li>
<li><a href="/search/?q=fresh&models=recipemonkeyapp.recipe">something fresh</a><br/></li>
<li><a href="/search/?q=seafood&models=recipemonkeyapp.recipe">seafood</a><br/></li>

</ul>
{% endblock %}