{% extends "base.html" %}

{% block title %}Grocery Items{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{item.name}} {% endblock %}
{% block content_header %}{{item.name}}{% endblock %}

{% block content %}
<div id="object-menu">
	<a href="{% url admin:recipemonkeyapp_groceryitem_change item.id %}">Edit</a>
</div>
<div id="barcode">
<img src="/recipemonkeyapp/groceryitem/{{item.id}}/barcode.png" class="align-right frame"/>
</div>
<b>Tags:</b>{%for t in item.tags.all %}{%if forloop.first%} {%else%}, {%endif%}{{t}}{% endfor %}


<h3>Stored Amount</h3>
{%if formset %}
<form method="post" action="">
    {{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
{% for form in formset.forms %}
{{formset.media}}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="center"><input type="submit" value="Update Storage" align="center"/></p>
</form>


{%else%}
<ul>
{%for s in item.storeditems %}
<li>{{s.storage}}-{{s.quantity}}</li>
{%endfor%}
</ul>
{%endif%}

<br/>
<br/>
<br/>
<br/>




{% endblock  %}
