{% extends "base.html" %}

{% block title %}Groceries{% endblock %}
{% block extra_scripts %}
<style>
    .labels {
        width: 0mm;
        margin: 0mm 0mm;
        }

    .label{
        width: 20mm; 
        height: 20mm; 
        padding: 0mm 5mm 0;
        margin-right: 10mm; 

        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
</style>
{% endblock %}
{% block content %}

<div id="labels">
	
{% for i in item_list %}

	<div class="label"><img src="/recipemonkeyapp/groceryitem/{{ i.id }}/barcode.png" /><br>{{i.name}}</div>

{% endfor %}


</div>
{% endblock %}


