{% extends "recipemonkey/groceryitem/index.html" %}

{% block title %}Grocery Items{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{item.name}} {% endblock %}
{% block content_header %}{{item.name}}{% endblock %}

{% block content %}
<div class="row" id="object-menu">
	<div class="span4">
	<div class="btn-group">
	  <a class="btn" href="{% url admin:recipemonkeyapp_groceryitem_change item.id %}">Edit</a>
	 <a  class="btn" href="http://www.mysupermarket.co.uk/#/shopping/findproducts.aspx?query={{item.name}}">Shop</a>
	</div>
	</div>
</div>
<div id="barcode">
<img src="/recipemonkeyapp/groceryitem/{{item.id}}/barcode.png" class="align-right frame"/>
</div>
<b>Category: </b>{{item.category}}<br/>
{%if item.seasonStart %}
<b>Season: </b>{{item.seasonStart|date:"M"}} to {{item.seasonEnd|date:"M"}}<br/>
{%endif %}
<b>Tags: </b>{%for t in item.tags.all %}{%if forloop.first%}{%else%}, {%endif%}{{t}}{% endfor %}<br/>


{%if formset %}
<h3>Stored Amount</h3>
<form method="post" action="">
    {{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
{% for form in formset.forms %}
{{formset.media}}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="center"><input type="submit" value="Update Storage" align="center"/></p>
</form>

{%else%}
{%for s in item.storeditems %}
{%if forloop.first%}
<h3>Stored Amount</h3>
<ul>{%endif%}
<li>{{s.storage}}-{{s.quantity}}</li>
{%if forloop.last%}
</ul>{%endif%}
{%endfor%}

{%endif%}

{%for r in item.recipe_set.all%}
{%if forloop.first%}
<h3>Used In</h3>
<ul>
{%endif%}
<li><a href="{{r.get_absolute_url}}">{{r.name}}</a></li>
{%if forloop.last%}
</ul>
{%endif%}
{%endfor%}

<br/>
<br/>
<br/>
<br/>




{% endblock  %}
