{% extends "recipemonkey/groceryitem/index.html" %}

{% block title %}Grocery Items{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{item.name}} {% endblock %}
{% block content_header %}{{item.name}}{% endblock %}

{% block content %}

<!-- ACTIONS MENU -->

<div class="row" id="object-menu">
	<div class="span4">
	<div class="btn-group">
	  <a class="btn" href="{% url admin:recipemonkeyapp_groceryitem_change item.id %}">Edit</a>
	 <a  class="btn" href="http://www.mysupermarket.co.uk/#/shopping/findproducts.aspx?query={{item.name}}">Shop</a>
	</div>
	</div>
</div>


<!-- EXTRA INFO -->
<div class="row">
	<div class="span4">
<table class="table table-condensed">
	<tbody>
		<tr>
			<th>Category</th>
			<td>{{item.category}}</td>
		</tr>
{%if item.seasonStart %}
		<tr>
			<th>Season</th>
			<td>{{item.seasonStart|date:"M"}} to {{item.seasonEnd|date:"M"}}</td>
		</tr>
{%endif %}
{%if item.tags %}
		<tr>
			<th>Tags</th>
			<td>{%for t in item.tags.all %}{%if forloop.first%} {%else%}, {%endif%}{{t}}{% endfor %}</td>
		</tr>
{%endif %}
</tbody>
</table>
</div>
</div>

<!-- STORED ITEMS -->

{%for s in item.storeditems %}
{% if forloop.first %}
<div class="row">
<div class="span12" id="stored">
<h3>Stored Amount</h3>
<ul>
{% endif %}
<li>{{s.storage}}-{{s.quantity}} {{s.quantityMeasure|title}} (expires: {%if s.near_expiry%}
	<span class="label label-warning">{{s.expiry|date:"d/m/Y"}}</span>
	{%else%}
	{%if s.expired%}
	<span class="label label-important">{{s.expiry|date:"d/m/Y"}}</span>
	{%else%}
	<span class="label label-success">{{s.expiry|date:"d/m/Y"}}</span>
	{%endif%}
		{%endif%})</li>
{% if forloop.last %}
</ul>
</div>
</div>
{% endif %}
{% endfor %}

{%for r in item.recipe_set.all%}
{%if forloop.first%}
<div class="row">
<div class="span12" id="used">
<h3>Used In</h3>
<ul>
{%endif%}
<li><a href="{{r.get_absolute_url}}">{{r.name}}</a></li>
{%if forloop.last%}
</ul>
</div>
</div>
{%endif%}
{%endfor%}

<!-- BARCODE -->

<div class="row">
<div id="barcode" class="span2 pull-right">
	<img src="/recipemonkeyapp/groceryitem/{{item.id}}/barcode.png"/>
</div>
</div>



{% endblock  %}
