{% extends "recipemonkey/base.html" %}
{% load pagination_tags %}


{% block title %}Groceries{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="/recipemonkeyapp/groceryitem">Groceries</a>{% endblock %}

{% block content %}


{% autopaginate items %}
{% paginate %}

{% for i in items %}
<div class="row">
	<div class="span2">
	
		<ul class="thumbnails">
		{% if i.photo %}
		<li><img src="{{MEDIA_URL}}{{ i.photo.url }}"/></li>
		{% else %}
		<li><img src="http://placehold.it/150x150&text=no+image"></li>
		</ul>
		{% endif %}
	</div>
	<div class="span10">
		<a href="{{i.get_absolute_url}}" style="text-decoration: none"><h3>{{i.name}}</h3></a>
		<div class="row">
		<div class="span10">
		<p>{{i.category}}</p>
		</div>
		</div>
		<div class="row">
			<div class="span10">
		<p>
		{% if i.seasonal%}<span class="label label-success">Seasonal</span>{%endif%}
		</p>
		</div>
		</div>
		{%for r in i.recipe_set.all%}
		{%if forloop.first%}
		<div class="row">
		<div class="span10">
		Used in: {{r.name}}{%else%}, {{r.name}}{%endif%}
		{%if forloop.last%}
		</div>
		</div>
		{%endif%}
		{%endfor%}
		

	</div>
	
</div><!-- /row -->
{% endfor %}


{% endblock %}