{% extends "recipemonkey/recipe/index.html" %}
{% load agon_ratings_tags %}
{% block extra_scripts %}

<link href="{{STATIC_URL}}css/recipemonkey/recipe/style.css" rel="stylesheet" media="screen">

<link href="{{STATIC_URL}}css/recipemonkey/recipe/print.css" rel="stylesheet" media="print">
{% endblock %}

{% block title %}Recipes{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{recipe.name}} {% endblock %}
{% block content_header %}{{recipe.name}}{% endblock %}
{% block content %}

<div class="row" id="object-menu">
	<div class="btn-group">
		<div class="span4">
	 	<a class="btn" href="{% url admin:recipemonkeyapp_recipe_change recipe.id %}">Edit</a></li>
		<a class="btn" href="{% url recipemonkeyapp.views.recipe.cook recipe.id %}">Cook</a></li>
		<a class="btn" href="{% url recipemonkeyapp.views.recipe.add_to_shopping recipe.id %}">Add To Shopping</a>
	</div>
	</div>
</div>

<div class="row">
{% if recipe.photo %}

	<div class="span4" id="recipe-photo">
	<ul class="thumbnails">
    <li><img src="{{MEDIA_URL}}{{ recipe.photo.url }}"/></li>
	</ul>
	</div>

{% endif %}

<div class="span8"
<h3>Ingredients</h3>
<ul>
{% for i in ingredients%}
	<li {%if i.keyIngredientFlag %}class="keyingredient"{%endif%}>
		
			{{i.quantity}} {{i.quantityMeasure}} <a href="/recipemonkeyapp/groceryitem/{{i.item.id}}">{{i.item.name}}</a> <span id="available">(<i>available {{i.item.quantity}} {{i.item.quantityMeasure}}</i>)</span>  {{i.processing}}
	
	</li> 
{% endfor %}
</ul>
	</div>
</div><!-- /row -->	

<h3>Instructions</h3>
<ul>
{% for i in instructions%}

	<li>{{i.step}}</li> 
{% endfor %}
</ul>


{% for i in subrecipes%}
{%if forloop.first%}
<h3>Sub Recipes</h3>
<ul>
{%endif%}
	<li><a href="{{i.get_absolute_url}}">{{i.recipe.name}}</a> : {{i.quantity}} {%if i.optional%}(optional){%endif%}</li> 
{%if forloop.last%}
</ul>
{%endif%}
{% endfor %}


{%if recipe.note %}
<div class="row">
	
<div class="alert span12" id="recipe-note">
	{{recipe.note}}
</div>
</div>	
{%endif%}



<b>Servings: </b>{{recipe.serving}}<br/>
<b>Source: </b>{{recipe.source.name}}<br/>
<b>Cost Per Serve: </b>{{recipe.costPerServe}}<br/>
{%if recipe.seasonStart %}
<b>Season: </b>{{recipe.seasonStart|date:"M"}} to {{recipe.seasonEnd|date:"M"}}<br/>
{%endif %}
{%if recipe.tags %}

<b>Tags:</b>{%for t in recipe.tags.all %}{%if forloop.first%} {%else%}, {%endif%}{{t}}{% endfor %}
{%endif %}

<div class="row">
<div id="barcode" class="span2 pull-right">
<img src="/recipemonkeyapp/recipe/{{recipe.id}}/barcode.png"/>
</div>
</div>

<div id="stored">
{%if formset %}
<h3>Stored Amount</h3>
<form method="post" action="">
    {{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
{% for form in formset.forms %}
{{formset.media}}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="center"><input type="submit" value="Update Storage" align="center"/></p>
</form>


{%else%}
{%for s in recipe.storeditems %}
{% if forloop.first %}
<h3>Stored Amount</h3>
<ul>
{% endif %}

<li>{{s.storage}}-{{s.quantity}}</li>
{%endfor%}
{% if forloop.last %}
</ul>
{% endif %}
{%endif%}
</div>




{% endblock %}
