{% extends "recipemonkey/recipe/index.html" %}
{% load agon_ratings_tags %}
{% block extra_scripts %}

<link href="{{STATIC_URL}}css/recipemonkey/recipe/style.css" rel="stylesheet" media="screen">

<link href="{{STATIC_URL}}css/recipemonkey/recipe/print.css" rel="stylesheet" media="print">
{% endblock %}

{% block title %}Recipes{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{recipe.name}} {% endblock %}
{% block content_header %}{{recipe.name}}{% endblock %}
{% block content %}

<!-- RECIPE ACTIONS -->

<div class="row" id="object-menu">
	<div class="btn-group">
		<div class="span4">
	 	<a class="btn" href="{% url admin:recipemonkeyapp_recipe_change recipe.id %}">Edit</a></li>
		<a class="btn" href="{% url recipemonkeyapp.views.recipe.cook recipe.id %}">Cook</a></li>
		<a class="btn" href="{% url recipemonkeyapp.views.recipe.add_to_shopping recipe.id %}">Add To Shopping</a>
	</div>
	</div>
</div>

<!-- PHOTO -->


<div class="row">
{% if recipe.photo %}

	<div class="span4" id="recipe-photo">
	<ul class="thumbnails">
    <li><img src="{{MEDIA_URL}}{{ recipe.photo.url }}"/></li>
	</ul>
	</div>

{% endif %}

<!-- INGREDIENTS -->


<div class="span8"
<h3>Ingredients</h3>
<ul>
{% for i in ingredients%}
	<li {%if i.keyIngredientFlag %}class="keyingredient"{%endif%}>
		
			{{i.quantity}} {{i.quantityMeasure}} <a href="/recipemonkeyapp/groceryitem/{{i.item.id}}">{{i.item.name}}</a> <span id="available">(<i>available {{i.item.quantity}}</i>)</span>  {{i.processing}}
	
	</li> 
{% endfor %}
</ul>
	</div>
</div><!-- /row -->	

<!-- INSTRUCTIONS -->

<div class="row">
	<div class="span12">
<h3>Instructions</h3>
<ol>
{% for i in instructions%}

	<li>{{i.step}}</li> 
{% endfor %}
</ol>
</div>
</div>

<!-- SUB RECIPES -->

{% for i in subrecipes%}
{%if forloop.first%}
<div class="row">
	<div class="span12">

<h3>Sub Recipes</h3>
<ul>
{%endif%}
	<li><a href="{{i.get_absolute_url}}">{{i.recipe.name}}</a> : {{i.quantity}} {%if i.optional%}(optional){%endif%}</li> 
{%if forloop.last%}
</ul>
</div>
</div>
{%endif%}
{% endfor %}


{%if recipe.note %}
<div class="row">
	
<div class="alert alert-info span12" id="recipe-note">
	{{recipe.note}}
</div>
</div>	
{%endif%}

<!-- EXTRA INFO -->
<div class="row">
	<div class="span4">
<table class="table table-condensed">
	<tbody>
		<tr>
			<th>Servings</th>
			<td>{{recipe.serving}}</td>
		</tr>
		<tr>
			<th>Source</th>
			<td>{{recipe.source.name}}</td>
		</tr>
		<tr>
			<th>Cost Per Serve</th>
			<td>{{recipe.costPerServe}}</td>
		</tr>
{%if recipe.seasonStart %}
		<tr>
			<th>Season</th>
			<td>{{recipe.seasonStart|date:"M"}} to {{recipe.seasonEnd|date:"M"}}</td>
		</tr>
{%endif %}
{%if recipe.tags %}
		<tr>
			<th>Tags</th>
			<td>{%for t in recipe.tags.all %}{%if forloop.first%} {%else%}, {%endif%}{{t}}{% endfor %}</td>
		</tr>
{%endif %}
</tbody>
</table>
</div>
</div>


<!-- STORED ITEMS -->

{%for s in recipe.storeditems %}
{% if forloop.first %}
<div class="row">
<div class="span12" id="stored">
<h3>Stored Amount</h3>
<ul>
{% endif %}
<li>{{s.storage}}-{{s.quantity}} {{s.quantityMeasure|title}} (expires: {%if item.near_expiry%}
	<span class="label label-warning">{{s.expiry|date:"d/m/Y"}}</span>
	{%else%}
	{%if s.expired%}
	<span class="label label-important">{{s.expiry|date:"d/m/Y"}}</span>
	{%else%}
	<span class="label label-success">{{s.expiry|date:"d/m/Y"}}</span>
	{%endif%}
		{%endif%})</li>
{% if forloop.last %}
</ul>
</div>
</div>
{% endif %}
{% endfor %}

<!-- BARCODE -->


<div class="row">
<div id="barcode" class="span2 pull-right">
<img src="/recipemonkeyapp/recipe/{{recipe.id}}/barcode.png"/>
</div>
</div>


{% endblock %}
