{% extends "recipemonkey/base.html" %}
{% load pagination_tags %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="/recipemonkeyapp/recipe">Recipes</a> {% endblock %}

{% block title %}Recipes{% endblock %}
{% block content %}
{% autopaginate recipes %}
{% paginate %}

{% for r in recipes %}
<div class="row">
	<div class="span2">
	
		<ul class="thumbnails">
		{% if r.photo %}
		<li><img src="{{MEDIA_URL}}{{ r.photo.url }}"/></li>
		{% else %}
		<li><img src="http://placehold.it/150x150&text=no+image"></li>
		</ul>
		{% endif %}
	</div>
	<div class="span10">
		<a href="{{r.get_absolute_url}}" style="text-decoration: none"><h3>{{r.name}}</h3></a>
		<div class="row">
			<div class="span12">
			<table class="table">
				<tbody>
					<tr>
						<th>Cuisine</th>
						<td>{% if r.cuisine %}{{r.cuisine}}{%else%}Unknown{%endif%}</td>
					</tr>
					<tr>
						<th>Serves</th>
						<td>{{r.serving}}</td>
					</tr>
					{% if r.seasonal%}
					<tr>
						
						<th>&nbsp;</th>
						<td><span class="label label-success">Seasonal</span></td>
					
					</tr>
					{%endif%}
				</tbody>
			</table>
			
			</div>	
		</div>
	</div>
	
</div><!-- /row -->
{% endfor %}
{% endblock %}

