{% extends "recipemonkey/base.html" %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="/recipemonkeyapp/recipe">Recipes</a> {% endblock %}

{% block title %}Recipes{% endblock %}
{% block content %}

{% for r in recipes %}
<div class="row">
	<div class="span4">
		{% if recipe.photo %}
		<ul class="thumbnails">
		<li><img src="{{ recipe.photo.url }}"/></li>
		</ul>
		{% endif %}
	</div>
	<div class="span8">
		<h2>{{r.name}}</h2>
		<p>{{r.cuisine}}, serves: {{r.serving}}</p>
	</div>
	
</div><!-- /row -->
{% endfor %}
{% endblock %}

