{% extends "recipemonkey/base.html" %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="/recipemonkeyapp/recipe">Recipes</a> {% endblock %}

{% block title %}Recipes{% endblock %}
{% block content %}


{% for r in recipes %}
<div class="row">
	<a href="{{r.get_absolute_url}}" style="text-decoration: none">
	<div class="span2">
	
		<ul class="thumbnails">
		{% if r.photo %}
		<li><img src="{{MEDIA_URL}}{{ r.photo.url }}"/></li>
		{% else %}
		<li><img src="http://placehold.it/150x150&text=no+image"></li>
		</ul>
		{% endif %}
	</div>
	<div class="span10">
		<h3>{{r.name}}</h3>
		<p>{% if r.cuisine %}{{r.cuisine}}{%else%}Unknown{%endif%}, serves: {{r.serving}}
		{% if r.seasonal%}<span class="label label-success">Seasonal</span>{%endif%}
		</p>
	</div>
	</a>
	
</div><!-- /row -->
{% endfor %}
{% endblock %}

