{% extends "recipemonkey/base.html" %}

{% block title %}Storage{% endblock %}
{% block content %}

<style>
 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>


{% for i in item_list %}

	<h3>{{i.name}}</h3>
	<table class="table">
		<thead>
			<tr>
				<th width="10%"><i class="icon-qrcode"></i>Barcode</th>
				<th width="60%">Content</th>
				<th width="10%">Quantity</th>
				<th width="10%">Expiry</th>
				<th width="10%">Added</th>
			</tr>
		</thead>
		<tbody>
		{% for s in i.storeditems %}
		<tr>
			<td><a href="/recipemonkeyapp/scan/{{s.barcode}}">{{s.barcode}}</a></td>
			<td>{{s.content_object.name}}</td>
			<td>{{s.quantity}} {{s.quantityMeasure|title}}</td>
			<td>{%if s.near_expiry%}
				<span class="label label-warning">{{s.expiry|date:"d/m/Y"}}</span>
				{%else%}
				{%if s.expired%}
				<span class="label label-important">{{s.expiry|date:"d/m/Y"}}</span>
				{%else%}
				<span class="label label-success">{{s.expiry|date:"d/m/Y"}}</span>
				{%endif%}
					{%endif%}		
			</td>
			<td>{{s.date_added|date:"d/m/Y"}}</td>
		</tr>
		{% endfor %}
		
		</tbody>
	</table>



{% endfor %}


{% endblock %}