{% extends "recipemonkey/groceryitem/index.html" %}

{% block title %}Storage Items{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{item.name}} {% endblock %}
{% block content_header %}{{item.name}}{% endblock %}
{% block extra_scripts %}
<script>
function get_objects(){
	
	
    $.ajax({ 
	url: '/recipemonkeyapp/ajax_object_request/', 
    type: 'post',
    data: "{type:'"+ $('#id_obj_type').val() +"',csrfmiddlewaretoken:'" + $('input:hidden[name=csrfmiddlewaretoken]').val() + "'}",
    success: function(data) {
        var e = $('#id_obj')
        
         e.update(data)
    }
    });
}
</script>
{% endblock %}
{% block content %}

<h3>Current Item</h3>
{%if item %}
<ul>
	<li>{{item.content_object.name}}, {{item.quantity}} Added: {{item.date_added|date:"d M Y"}}</li>
</ul>
	
{%else%}
<ul>
<li><strong>NONE</strong></li>
</ul>
{%endif%}


<h3>Edit Content</h3>
<form method="post" action="">{% csrf_token %}
	<table>
    {{ form.as_table }}
	</table>
	<p align="center"><input type="submit" value="Update Storage" align="center"/></p>

</form>



{% endblock  %}
