{% extends "recipemonkey/base.html" %}

{% block title %}Storage Items{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{item.name}} {% endblock %}
{% block content_header %}{{item.name}}{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">


function get_objects(){
	
	
    $.ajax({ 
	url: '/recipemonkeyapp/ajax_object_request/', 
    data: {obj_type:$('#id_obj_type').val()},
    success: function(data) {
        var e = $('#id_obj');
        //alert(data);
        e.html(data);
    }
    });
}
</script>
{% endblock %}
{% block content %}

<h3>Current Item</h3>
{%if item %}
<ul>
	<li>{{item.content_object.name}}, {{item.quantity}} Added: {{item.date_added|date:"d M Y"}}</li>
	<form method="post" action="">{% csrf_token %}
		
	    {{ form}}
		<br/>
		<button type="submit" class="btn btn-primary">Update</button>  
		
		
		</table>

	</form>
</ul>
	
{%else%}
<ul>
<li><strong>Barcode not assigned</strong></li>
</ul>
<h3>Add Item</h3>
<form method="post" action="">{% csrf_token %}
	<table>
    {{ form.as_table }}
	<tr><td colspan="2" align="center"><button type="submit" class="btn btn-primary">Add</button> </td></tr>
	</table>
	
</form>
{%endif%}


<script type="text/javascript">


$(function() {
        $('#id_date_added').datepicker({ dateFormat: 'yy-mm-dd' });
 });

</script>



{% endblock  %}
