{% extends "base.html" %}
{% block extra_scripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/recipeprint.css" type="text/css" media="print"/>
{%endblock%}

{% block title %}Recipes{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {{recipe.name}} {% endblock %}
{% block content %}

<h2>{{recipe.name}}</h2>
{% if recipe.photo %}
	<div id="recipe-photo">
    <img src="{{ recipe.photo.url }}" width="200px" height="200px" class="align-right frame"/>
	</div>
{% endif %}

<h3>Ingredients</h3>
<ul>
{% for i in ingredients%}
	<li {%if i.keyIngredientFlag %}class="keyingredient"{%endif%}>
		
			{{i.quantity}} {{i.quantityMeasure}} <a href="/recipemonkeyapp/groceryitem/{{i.item.id}}">{{i.item.name}}</a> <span id="available">(<i>available {{i.item.quantity}}</i>)</span>  {{i.processing}}
	
	</li> 
{% endfor %}
</ul>	

<h3>Instructions</h3>
<ul>
{% for i in instructions%}

	<li>{{i.step}}</li> 
{% endfor %}
</ul>

{%if recipe.note %}
<br/>
<div id="recipe-note" class='note'>
	{{recipe.note}}
</div>
<br/>
	
{%endif%}



<b>Servings: </b>{{recipe.serving}}<br/>
<b>Source: </b>{{recipe.source.name}}<br/>
<b>Cost Per Serve: </b>{{recipe.costPerServe}}<br/>
{%if recipe.seasonStart %}
<b>Season: </b>{{recipe.seasonStart|date:"M"}} to {{recipe.seasonEnd|date:"M"}}<br/>
{%endif %}
<img src="/recipemonkeyapp/recipe/{{recipe.id}}/barcode.png" class="align-right frame"/>


{%if formset %}
<h3>Stored Amount</h3>
<form method="post" action="">
    {{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
{% for form in formset.forms %}
{{formset.media}}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<p align="center"><input type="submit" value="Update Storage" align="center"/></p>
</form>


{%else%}
{%for s in recipe.storeditems %}
{% if forloop.first %}
<h3>Stored Amount</h3>
<ul>
{% endif %}

<li>{{s.storage}}-{{s.quantity}}</li>
{%endfor%}
{% if forloop.last %}
</ul>
{% endif %}
{%endif%}

{% endblock %}
